@mixin centeredWithLine($selectors) {

    @each $sel in $selectors{

        #{$sel} {
            position: relative;
            z-index: 1;
            overflow: hidden;
            text-align: center;
        }

        #{$sel}:before, #{$sel}:after {
            position: absolute;
            top: 51%;
            overflow: hidden;
            width: 50%;
            height: 1px;
            -webkit-font-smoothing: antialiased;
            content: '\a0';
            background-color: rgba(0, 0, 0, 0.10);

        }

        #{$sel}:before {
            margin-left: calc(-50% - 15px);
        }

        #{$sel}:after {
            margin-left: 15px;
        }

    }
}
