$code-highlight-color: purple !default;
$code-keyword-color: $code-highlight-color !default;
$code-delim-1-color: darken($code-highlight-color, 10%) !default;
$code-delim-2-color: darken($code-highlight-color, 20%) !default;

.src {
    padding: 0.5rem 1rem 0.5rem;
    font-size: 0.9rem;
    background: rgba(0, 0, 0, 0.06);
    border: 1px solid rgba(0, 0, 0, 0.06);

    text-align: left;

		font-family: "Courier New", monospace;
    max-width: 100%;
    overflow-x: auto;

    .org-org-meta-line {
        color: $code-keyword-color;
    }

    .org-keyword {
        color: $code-keyword-color;
    }

    // .org-doc {
    //     color: grey;
    // }

    .org-rainbow-delimiters-depth-1{
        color: $code-delim-1-color;
    }

    .org-rainbow-delimiters-depth-2{
        color: $code-delim-2-color;
    }
}
