/**
 * Tag selectors
 *
 * List of selectors used for sytling tags.
 * Of the form: "container1" "child1", "container2" "child2"
 *
 * @see https://orgmode.org/manual/Tags.html
 */
$tag-selectors: '.tag' 'span', ;

$tag-bg-color: #f5f5f5 !default;
$tag-border-color: darken($tag-bg-color, 15%);


@each $selector in $tag-selectors {

    #{nth($selector, 1)}{
        padding: 0;
        display: block;
        color: rgba(0, 0, 0, 0.65);
        font-size: 0.8rem;

        #{nth($selector, 2)}{
            background: $tag-bg-color;
            border-radius: 2px;
            width: fit-content;
            height: auto;
            padding: 2px 7px;
            border: 1px solid $tag-border-color;

            -webkit-transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
            transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);

            &:hover {
                opacity: 0.85;
            }
        }
    }

}
