
/**
 * Variables
 */

$indent-inner-contents: true !default;


/**
 * Style
 */


html, body{
    padding: 0;
    margin: 0;
}

// remove bullets from table of contents
#text-table-of-contents{
    ul{
        list-style-type: none;
    }
    .tag{
        display: none;
    }
}

.org-src-container{
    text-align: center;
}

.src {
    display: inline-block;
    text-align: left;
 }

@media only screen and (min-width: 750px) /* Large screens */
{
    .outline-3{
        margin: 0vh 10vw;
    }

    .outline-text-2, #text-table-of-contents {
        padding: 0vh 10vw;
    }

    @if $indent-inner-contents {
        .outline-text-3{
            margin-left: 2rem;
        }
    }

    h2 { // the centered header
        margin: 2em 10vw 1em 10vw;
    }
}

@media only screen and (max-width: 750px) /* Small screens */
{
    .outline-3{
        margin: 0vh 5vw;
        display: block;
    }

    .outline-text-2, #text-table-of-contents{
        padding: 0vh 5vw;
    }

    h2 { // the centered header
        margin: 2em 5vw 1em 5vw;
    }
}


.title{
   padding: 2vh 5vw;
}

h3, h4, h5, h6, table {
    margin: 2em 0em 1em 0em;
}

// center objects
table{
    margin: auto;
}

.tag{
    margin-top: 0.5rem;
}

#postamble{
    text-align: center;
    width: 100%;
    margin: 2rem 0;

    p{
        display: inline-block;
    }

    .author, .date, .validation {
        margin-left: 1rem;
        margin-right: 1rem;
    }

}

blockquote{
    margin-left: 1.5rem;
}

.outline-text-2, .outline-text-3, .outline-text-4{
	max-width: 100%;
	overflow-x: auto;
}
